.form{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    border: 0;
    background-color: #F6F5F4;
    width: 1250px;
    height: 75px;
    border-radius: 15px;
    text-decoration-color: black;
}

.form2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    border: 0;
    background-color: #F6F5F4;
    width: 1250px;
    height: 190px;
    border-radius: 15px;
    text-decoration-color: black;
}

.form3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    border: 0;
    background-color: #F6F5F4;
    width: 1250px;
    height: 240px;
    border-radius: 15px;
    text-decoration-color: black;
}
