.gaya1 {
    /* background-color: blue; */
    display: flex;


}

.gaya2 {
    display: flex;
    flex-direction: column;
    margin: 0px;
    border-width: 5%;
    margin-left: 20px;
    border-color: aqua;
    border-style: solid;
    /* background-color: blueviolet; */
    border-radius: 15px;
}