.ukuran {
    margin-left: 172px;
    display: flex;
    flex-direction: column;
    /* background-color: #EFC81A;
    width: 426px;
    height: 64px;
    padding: 0; */
}

.gambar{
    flex:1;
}

.besar {
    display: flex;
}

.row{
    margin-left: 172px;
    display: flex;
    flex-direction: column;
}

.tombol{
margin-top: 25px;
width: 326px;
height: 64px;
border-radius: 10px;
background-color:#EFC81A;
border-color: white;
color: white;
font-size: 16px;
}

.textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 326px;
    height: 40px;
    border-radius: 5px;
    
}

.textarea:hover{
    border-color: #EFC81A;
}

.tittle{
    /* background-color: #EFC81A; */
margin-left: 50%;
justify-items: center;
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
color: #EFC81A;
}

.log{
    margin-left: 40%;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
display: flex;
align-items: center;
color: #8692A6;
}

.checkmark{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #696F79;

}
.container input:checked ~ .checkmark {
    background-color: #EFC81A;
  }

.perataan {
    margin-top: 400px;
}