.ukuran {
    background-color: #EFC81A;
    width: 426px;
    height: 64px;
    padding: 0;
}

.gambar{
    flex:1;
}

.besar {
    display: flex;
}

.tombol{
    width: 426px;
height: 64px;
border-radius: 10px;
background-color:#EFC81A;
border-color: white;
color: white;
font-size: 16px;
}

.perataan{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1; */
}

.tittle{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
color: #EFC81A;
}

.log{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

display: flex;
align-items: center;

color: #8692A6;
}

.checkmark{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #696F79;

}
.container input:checked ~ .checkmark {
    background-color: #EFC81A;
  }