.color {
    /* background-color: red; */
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 100px;
    font-family: 'Airbnb Cereal App';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;

color: #2E266F;

}

.link{
    margin-left: 100px;
    text-align: left;
}

.list {
    display: flex;
    flex-direction: column;
}

.login {
    font-family: 'Airbnb Cereal App';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
margin-left: 750px;
color: #565656;
}