.list{
    /* background-color: aqua; */
    /* margin: 25px; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    /* font-family: 'Airbnb Cereal App';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 31px; */

/* text-align: center; */
/* color: gray; */
/* color: #666666; */
}

.subtittle{
    color:gray;
    font-weight: bold;
    margin-left: 10px;
}
.gambar{
    border-radius: 10px;
    margin-left: 35px;
    margin-bottom: 100px;
}

.nama{
    /* display: flex;
    align-items: center; */
    text-align: center;
    margin-bottom: 100px
}

.muka{
    /* position: absolute; */
    margin-inline: auto;
    margin-top: 100px;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}

.pensil{
    margin-left: 51%;
    /* margin-inline: auto; */
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Vector */
.pena1{
    position: absolute;
    left: 50%;
    right: 12.5%;
    top: 83.33%;
    bottom: 16.67%;

    border: 2px solid #EFC81A;
}



/* Vector */
.pena2 {
    position: absolute;
    left: 12.5%;
    right: 16.16%;
    top: 11.99%;
    bottom: 16.67%;
    border: 2px solid #EFC81A;
}

.my{
    gap: 25px;
    margin: 25px;
    flex-wrap: wrap;
    /* background-color: aqua; */
    justify-content: flex-start;
    display: flex;
    flex-direction: row;

}