.isi {

    /* background-color: aqua; */
    /* display: flex; */
    gap: 100px;
    margin-inline: 100px;
}

.daftar{
    border: 5px;
    margin-top: 30px;
    gap: 100px;
    display: flex;
    /* background-color: red; */
}

.title{
    text-align: center;
    color: #2E266F;
}

.input {
    /* background-color: aqua; */
    display: flex;
    border-color: #EFC81A;
    border-radius: 10px;
    /* align-self: center;
    align-items: center; */
    border-style: solid;
    width: 25%;
    height: 50px;
}

.perataan{
    width: 100%;
    /* background-color: aqua; */
    display: flex; 
    justify-content: center;
    align-self: center;
    align-items: center; 
}